* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #e5dae8;
}

body, html {
    height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    background: rgba(0, 0, 0, 0);
  }
  

.btn {
    background-color: #283593;
}

.btn:hover {
    background-color: #7d8bf5;
}