/* Webpage CSS */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: #edf0fa; */
}

body,
html {
    height: 100%;
}

.pic-container {
    position: relative;
    text-align: center;
    color: #edf0fa;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    background: rgba(0, 0, 0, 0);
}

footer {
    text-align: center;
}

.btn {
    background-color: #283593;
}

.btn:hover {
    background-color: #7d8bf5;
}

/* Weather API CSS */

#current-weather {
    display: flex;
    justify-content: center;
}

#current-weather p {
    display: flex;
}

/* Google Maps API CSS */

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 0 !important;
}

table {
    font-size: 12px;
}

.hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 474px;
    z-index: 1;
}

#map {
    margin-top: 20px;
    display: flex;
    padding: 5px;
    height: 600px;
    width: 800px;
}

#listing {
    /* width: 200px; */
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
    font-size: 14px;
}

#locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 0 190px;
    margin: 0 8px;
    width: 250px;
}

#controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
}

#autocomplete {
    width: 100%;
}

#country {
    width: 100%;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}